**import dependencies**

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import pandas as pd
import numpy as np
import tensorflow as tf

**import final 8 csv file**

In [2]:
final8_df = pd.read_csv('Final8_results.csv')

final8_df.head()

                   Team1  Team1Score                  Team2  Team2Score
0  Golden State Warriors         123              Utah Jazz         116
1             Miami Heat         113       Sacramento Kings         115
2           Phoenix Suns         133      Charlotte Hornets          99
3       Dallas Mavericks          95  Oklahoma City Thunder          86
4      Memphis Grizzlies         118          Brooklyn Nets         104

**import team player csv**

In [3]:
player_df = pd.read_csv('NBA_team_player_data.csv', skiprows = 1)

player_df.head()

,RANK,FULL NAME,TEAM,POS,AGE,GP,MPG,MIN\n,USG,TO,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
0,NaN,Jayson Tatum,Bos,F-G,24.20,11,41.2,85.9,31.1,14.0,...,5.6,7.7,6.1,25.8,1.27,1.00,4.00,9.6,109.7,102.4
1,NaN,Jaylen Brown,Bos,G-F,25.56,11,37.7,78.6,25.7,13.0,...,6.5,9.6,3.8,17.2,1.55,0.55,2.82,8.7,111.0,102.7
2,NaN,Marcus Smart,Bos,G,28.20,10,36.6,76.2,19.8,14.8,...,3.7,5.7,6.2,25.8,1.10,0.40,2.40,7.7,111.5,102.9
3,NaN,Al Horford,Bos,C-F,35.95,11,36.4,75.9,13.3,7.5,...,9.4,14.5,3.4,13.9,1.09,1.36,0.82,8.2,134.5,97.7
4,NaN,Grant Williams,Bos,F,23.46,11,30.9,64.3,14.7,8.1,...,4.4,8.0,0.8,3.9,0.27,1.09,0.82,4.4,117.7,100.6

## Clean Data

In [4]:
final8_df.isnull().sum()

Team1         0
Team1Score    0
Team2         0
Team2Score    0
dtype: int64

In [5]:
player_df.isnull().sum()

RANK         83
FULL NAME     0
TEAM          0
POS           0
AGE           0
GP            0
MPG           0
MIN\n         0
USG           0
TO            0
FTA           0
FT%           0
2PA           0
2P%           0
3PA           0
3P%           0
eFG           0
TS            0
PPG           0
RPG           0
TRB           0
APG           0
AST%          0
SPG           0
BPG           0
TOPGT.        0
VI            0
ORTG          1
DRTG          1
dtype: int64

In [6]:
player_df = player_df.drop(columns = ['RANK'])

player_df.head()

,FULL NAME,TEAM,POS,AGE,GP,MPG,MIN\n,USG,TO,FTA,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
0,Jayson Tatum,Bos,F-G,24.20,11,41.2,85.9,31.1,14.0,81,...,5.6,7.7,6.1,25.8,1.27,1.00,4.00,9.6,109.7,102.4
1,Jaylen Brown,Bos,G-F,25.56,11,37.7,78.6,25.7,13.0,56,...,6.5,9.6,3.8,17.2,1.55,0.55,2.82,8.7,111.0,102.7
2,Marcus Smart,Bos,G,28.20,10,36.6,76.2,19.8,14.8,29,...,3.7,5.7,6.2,25.8,1.10,0.40,2.40,7.7,111.5,102.9
3,Al Horford,Bos,C-F,35.95,11,36.4,75.9,13.3,7.5,12,...,9.4,14.5,3.4,13.9,1.09,1.36,0.82,8.2,134.5,97.7
4,Grant Williams,Bos,F,23.46,11,30.9,64.3,14.7,8.1,23,...,4.4,8.0,0.8,3.9,0.27,1.09,0.82,4.4,117.7,100.6

In [7]:
player_df.isnull().sum()

FULL NAME    0
TEAM         0
POS          0
AGE          0
GP           0
MPG          0
MIN\n        0
USG          0
TO           0
FTA          0
FT%          0
2PA          0
2P%          0
3PA          0
3P%          0
eFG          0
TS           0
PPG          0
RPG          0
TRB          0
APG          0
AST%         0
SPG          0
BPG          0
TOPGT.       0
VI           0
ORTG         1
DRTG         1
dtype: int64

In [8]:
player_df = player_df.dropna(axis = 0)

player_df.isnull().sum()

FULL NAME    0
TEAM         0
POS          0
AGE          0
GP           0
MPG          0
MIN\n        0
USG          0
TO           0
FTA          0
FT%          0
2PA          0
2P%          0
3PA          0
3P%          0
eFG          0
TS           0
PPG          0
RPG          0
TRB          0
APG          0
AST%         0
SPG          0
BPG          0
TOPGT.       0
VI           0
ORTG         0
DRTG         0
dtype: int64

In [9]:
player_df['TEAM'].values

array(['Bos', 'Bos', 'Bos', 'Bos', 'Bos', 'Bos', 'Bos', 'Bos', 'Bos',
       'Dal', 'Dal', 'Dal', 'Dal', 'Dal', 'Dal', 'Dal', 'Dal', 'Dal',
       'Dal', 'Gol', 'Gol', 'Gol', 'Gol', 'Gol', 'Gol', 'Gol', 'Gol',
       'Gol', 'Gol', 'Gol', 'Mia', 'Mia', 'Mia', 'Mia', 'Mia', 'Mia',
       'Mia', 'Mia', 'Mia', 'Mia', 'Mia', 'Phi', 'Phi', 'Phi', 'Phi',
       'Phi', 'Phi', 'Phi', 'Phi', 'Phi', 'Phi', 'Mem', 'Mem', 'Mem',
       'Mem', 'Mem', 'Mem', 'Mem', 'Mem', 'Mem', 'Mem', 'Mem', 'Pho',
       'Pho', 'Pho', 'Pho', 'Pho', 'Pho', 'Pho', 'Pho', 'Pho', 'Pho',
       'Mil', 'Mil', 'Mil', 'Mil', 'Mil', 'Mil', 'Mil', 'Mil', 'Mil',
       'Mil'], dtype=object)

In [10]:
final8_df['Team1'].values

array(['Golden State Warriors', 'Miami Heat', 'Phoenix Suns',
       'Dallas Mavericks', 'Memphis Grizzlies', 'Miami Heat',
       'Memphis Grizzlies', 'Phoenix Suns', 'Philadelphia 76ers',
       'Golden State Warriors', 'Miami Heat', 'Boston Celtics',
       'Golden State Warriors', 'Milwaukee Bucks', 'Dallas Mavericks',
       'Memphis Grizzlies', 'Milwaukee Bucks', 'Miami Heat',
       'Memphis Grizzlies', 'Milwaukee Bucks', 'Philadelphia 76ers',
       'Phoenix Suns', 'Golden State Warriors', 'Boston Celtics',
       'Miami Heat', 'Dallas Mavericks', 'Golden State Warriors',
       'Phoenix Suns', 'Boston Celtics', 'Golden State Warriors',
       'Dallas Mavericks', 'Philadelphia 76ers', 'Phoenix Suns',
       'Golden State Warriors', 'Philadelphia 76ers', 'Milwaukee Bucks',
       'Phoenix Suns', 'Memphis Grizzlies', 'Phoenix Suns', 'Miami Heat',
       'Memphis Grizzlies', 'Boston Celtics', 'Philadelphia 76ers',
       'Memphis Grizzlies', 'Dallas Mavericks', 'Milwaukee Bucks',
       'Memphis Grizzlies', 'Dallas Mavericks', 'Phoenix Suns',
       'Boston Celtics', 'Boston Celtics', 'Dallas Mavericks',
       'Memphis Grizzlies', 'Miami Heat', 'Golden State Warriors',
       'Miami Heat', 'Golden State Warriors', 'Memphis Grizzlies',
       'Miami Heat', 'Phoenix Suns', 'Boston Celtics',
       'Philadelphia 76ers', 'Memphis Grizzlies', 'Miami Heat',
       'Phoenix Suns', 'Milwaukee Bucks', 'Philadelphia 76ers',
       'Boston Celtics', 'Milwaukee Bucks', 'Miami Heat', 'Phoenix Suns',
       'Golden State Warriors', 'Phoenix Suns', 'Boston Celtics',
       'Milwaukee Bucks', 'Golden State Warriors', 'Memphis Grizzlies',
       'Miami Heat', 'Milwaukee Bucks', 'Memphis Grizzlies',
       'Golden State Warriors', 'Dallas Mavericks', 'Boston Celtics',
       'Memphis Grizzlies', 'Miami Heat', 'Dallas Mavericks',
       'Philadelphia 76ers', 'Boston Celtics', 'Memphis Grizzlies',
       'Phoenix Suns', 'Golden State Warriors', 'Miami Heat',
       'Philadelphia 76ers', 'Dallas Mavericks', 'Boston Celtics',
       'Memphis Grizzlies', 'Philadelphia 76ers', 'Boston Celtics',
       'Dallas Mavericks', 'Golden State Warriors', 'Dallas Mavericks',
       'Miami Heat', 'Memphis Grizzlies', 'Miami Heat',
       'Golden State Warriors', 'Milwaukee Bucks', 'Philadelphia 76ers',
       'Golden State Warriors', 'Phoenix Suns', 'Memphis Grizzlies',
       'Golden State Warriors', 'Phoenix Suns', 'Milwaukee Bucks',
       'Boston Celtics', 'Phoenix Suns', 'Golden State Warriors',
       'Dallas Mavericks', 'Milwaukee Bucks', 'Dallas Mavericks',
       'Philadelphia 76ers', 'Memphis Grizzlies', 'Milwaukee Bucks',
       'Memphis Grizzlies', 'Phoenix Suns', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Phoenix Suns', 'Boston Celtics',
       'Milwaukee Bucks', 'Dallas Mavericks', 'Memphis Grizzlies',
       'Boston Celtics', 'Milwaukee Bucks', 'Dallas Mavericks',
       'Memphis Grizzlies', 'Phoenix Suns', 'Boston Celtics',
       'Miami Heat', 'Boston Celtics', 'Golden State Warriors',
       'Golden State Warriors', 'Phoenix Suns', 'Philadelphia 76ers',
       'Phoenix Suns', 'Golden State Warriors', 'Dallas Mavericks',
       'Philadelphia 76ers', 'Milwaukee Bucks', 'Philadelphia 76ers',
       'Golden State Warriors', 'Boston Celtics', 'Golden State Warriors',
       'Milwaukee Bucks', 'Dallas Mavericks', 'Miami Heat',
       'Memphis Grizzlies', 'Phoenix Suns', 'Philadelphia 76ers',
       'Milwaukee Bucks', 'Dallas Mavericks', 'Phoenix Suns',
       'Miami Heat', 'Dallas Mavericks', 'Philadelphia 76ers',
       'Phoenix Suns', 'Miami Heat', 'Golden State Warriors',
       'Philadelphia 76ers', 'Milwaukee Bucks', 'Memphis Grizzlies',
       'Dallas Mavericks', 'Boston Celtics', 'Phoenix Suns',
       'Boston Celtics', 'Philadelphia 76ers', 'Memphis Grizzlies',
       'Milwaukee Bucks', 'Phoenix Suns', 'Golden State Warriors',
       'Milwaukee Bucks', 'Boston Celtics', 'Miami Heat',
       'Golden State Warriors', 'Philadelphia 76ers', 'Memphis Grizzlies',
       'Dallas Mavericks', 'Golden State Warriors', 'Miami Heat',
       'Milwaukee Bucks', 'Phoenix Suns', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Boston Celtics', 'Memphis Grizzlies',
       'Milwaukee Bucks', 'Golden State Warriors', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Philadelphia 76ers',
       'Phoenix Suns', 'Dallas Mavericks', 'Memphis Grizzlies',
       'Milwaukee Bucks', 'Golden State Warriors', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Milwaukee Bucks', 'Golden State Warriors',
       'Philadelphia 76ers', 'Dallas Mavericks', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Memphis Grizzlies',
       'Phoenix Suns', 'Miami Heat', 'Boston Celtics',
       'Memphis Grizzlies', 'Philadelphia 76ers', 'Dallas Mavericks',
       'Milwaukee Bucks', 'Golden State Warriors', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Memphis Grizzlies',
       'Milwaukee Bucks', 'Dallas Mavericks', 'Boston Celtics',
       'New Orleans Pelicans', 'Los Angeles Clippers', 'Orlando Magic',
       'Houston Rockets', 'Memphis Grizzlies', 'Detroit Pistons',
       'Denver Nuggets', 'San Antonio Spurs', 'Golden State Warriors',
       'Toronto Raptors', 'Detroit Pistons', 'Los Angeles Clippers',
       'San Antonio Spurs', 'Milwaukee Bucks', 'New York Knicks',
       'Miami Heat', 'San Antonio Spurs', 'Chicago Bulls',
       'Indiana Pacers', 'Golden State Warriors', 'Charlotte Hornets',
       'Golden State Warriors', 'Minnesota Timberwolves',
       'Oklahoma City Thunder', 'Boston Celtics', 'Atlanta Hawks',
       'Dallas Mavericks', 'Toronto Raptors', 'New Orleans Pelicans',
       'Philadelphia 76ers', 'Chicago Bulls', 'Orlando Magic',
       'New Orleans Pelicans', 'Chicago Bulls', 'Toronto Raptors',
       'Oklahoma City Thunder', 'Orlando Magic', 'Charlotte Hornets',
       'Portland Trail Blazers', 'Memphis Grizzlies', 'Toronto Raptors',
       'Phoenix Suns', 'Los Angeles Clippers', 'Portland Trail Blazers',
       'Chicago Bulls', 'Sacramento Kings', 'Indiana Pacers',
       'Los Angeles Lakers', 'Memphis Grizzlies', 'Utah Jazz',
       'New Orleans Pelicans', 'Sacramento Kings', 'Los Angeles Lakers',
       'New York Knicks', 'Denver Nuggets', 'Los Angeles Lakers',
       'Utah Jazz', 'Los Angeles Clippers', 'Minnesota Timberwolves',
       'New York Knicks', 'Indiana Pacers', 'Sacramento Kings',
       'Washington Wizards', 'Toronto Raptors', 'Denver Nuggets',
       'San Antonio Spurs', 'Memphis Grizzlies', 'Miami Heat',
       'Washington Wizards', 'Brooklyn Nets', 'Washington Wizards',
       'Charlotte Hornets', 'Oklahoma City Thunder', 'Philadelphia 76ers',
       'Atlanta Hawks', 'Phoenix Suns', 'Boston Celtics',
       'Los Angeles Clippers', 'Detroit Pistons', 'Los Angeles Clippers',
       'Milwaukee Bucks', 'Oklahoma City Thunder', 'Denver Nuggets',
       'Cleveland Cavaliers', 'Brooklyn Nets', 'Los Angeles Clippers',
       'Orlando Magic', 'Atlanta Hawks', 'Sacramento Kings',
       'Portland Trail Blazers', 'Dallas Mavericks', 'Boston Celtics',
       'Indiana Pacers', 'Los Angeles Clippers', 'Detroit Pistons',
       'Portland Trail Blazers', 'Houston Rockets', 'Washington Wizards',
       'Philadelphia 76ers', 'Boston Celtics', 'New Orleans Pelicans',
       'San Antonio Spurs', 'Brooklyn Nets', 'Utah Jazz',
       'Toronto Raptors', 'Chicago Bulls', 'San Antonio Spurs',
       'Charlotte Hornets', 'Atlanta Hawks', 'New York Knicks',
       'Miami Heat', 'Portland Trail Blazers', 'Memphis Grizzlies',
       'Miami Heat', 'Golden State Warriors', 'Cleveland Cavaliers',
       'New York Knicks', 'Sacramento Kings', 'Orlando Magic',
       'Philadelphia 76ers', 'Brooklyn Nets', 'Phoenix Suns',
       'Chicago Bulls', 'Houston Rockets', 'Utah Jazz',
       'New Orleans Pelicans', 'Phoenix Suns', 'Atlanta Hawks',
       'New York Knicks', 'Brooklyn Nets', 'Detroit Pistons',
       'New York Knicks', 'Cleveland Cavaliers', 'Toronto Raptors',
       'Minnesota Timberwolves', 'New York Knicks', 'Dallas Mavericks',
       'Los Angeles Lakers', 'Denver Nuggets', 'Detroit Pistons',
       'Dallas Mavericks', 'Dallas Mavericks', 'Portland Trail Blazers',
       'Oklahoma City Thunder', 'Chicago Bulls', 'Toronto Raptors',
       'Utah Jazz', 'Miami Heat', 'Minnesota Timberwolves',
       'Chicago Bulls', 'Utah Jazz', 'Brooklyn Nets',
       'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers',
       'Washington Wizards', 'New York Knicks', 'Milwaukee Bucks',
       'Brooklyn Nets', 'Minnesota Timberwolves', 'Philadelphia 76ers',
       'Charlotte Hornets', 'Utah Jazz', 'Sacramento Kings',
       'Golden State Warriors', 'Milwaukee Bucks', 'Detroit Pistons',
       'Los Angeles Lakers', 'Miami Heat', 'Milwaukee Bucks',
       'Indiana Pacers', 'Phoenix Suns', 'Los Angeles Clippers',
       'Charlotte Hornets', 'Washington Wizards', 'Dallas Mavericks',
       'Houston Rockets', 'Charlotte Hornets', 'Los Angeles Lakers',
       'Boston Celtics', 'Cleveland Cavaliers', 'Atlanta Hawks',
       'Portland Trail Blazers', 'Indiana Pacers', 'New Orleans Pelicans',
       'Indiana Pacers', 'Boston Celtics', 'Detroit Pistons',
       'San Antonio Spurs', 'Sacramento Kings', 'Cleveland Cavaliers',
       'Utah Jazz', 'Minnesota Timberwolves', 'Toronto Raptors',
       'Atlanta Hawks', 'Brooklyn Nets', 'Chicago Bulls',
       'New Orleans Pelicans', 'Toronto Raptors', 'Utah Jazz',
       'Atlanta Hawks', 'Minnesota Timberwolves', 'New Orleans Pelicans',
       'Brooklyn Nets', 'Chicago Bulls', 'Boston Celtics',
       'Boston Celtics', 'Toronto Raptors', 'Utah Jazz', 'Atlanta Hawks',
       'Minnesota Timberwolves', 'New Orleans Pelicans', 'Chicago Bulls',
       'Milwaukee Bucks', 'Golden State Warriors', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Milwaukee Bucks', 'Golden State Warriors',
       'Philadelphia 76ers', 'Dallas Mavericks', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Phoenix Suns', 'Miami Heat',
       'Boston Celtics', 'Philadelphia 76ers', 'Dallas Mavericks',
       'Milwaukee Bucks', 'Golden State Warriors', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Milwaukee Bucks',
       'Dallas Mavericks', 'Boston Celtics'], dtype=object)

In [11]:
player_df = player_df.replace({ 
    'TEAM': 
    {
    'Bos':'Boston Celtics',
    'Dal': 'Dallas Mavericks',
    'Gol':'Golden State Warriors',
    'Mia':'Miami Heat',
    'Phi':'Philadelphia 76ers',
    'Mem':'Memphis Grizzlies',
    'Pho':'Phoenix Suns',
    'Mil':'Milwaukee Bucks'
        
    }})

player_df.head()

,FULL NAME,TEAM,POS,AGE,GP,MPG,MIN\n,USG,TO,FTA,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
0,Jayson Tatum,Boston Celtics,F-G,24.20,11,41.2,85.9,31.1,14.0,81,...,5.6,7.7,6.1,25.8,1.27,1.00,4.00,9.6,109.7,102.4
1,Jaylen Brown,Boston Celtics,G-F,25.56,11,37.7,78.6,25.7,13.0,56,...,6.5,9.6,3.8,17.2,1.55,0.55,2.82,8.7,111.0,102.7
2,Marcus Smart,Boston Celtics,G,28.20,10,36.6,76.2,19.8,14.8,29,...,3.7,5.7,6.2,25.8,1.10,0.40,2.40,7.7,111.5,102.9
3,Al Horford,Boston Celtics,C-F,35.95,11,36.4,75.9,13.3,7.5,12,...,9.4,14.5,3.4,13.9,1.09,1.36,0.82,8.2,134.5,97.7
4,Grant Williams,Boston Celtics,F,23.46,11,30.9,64.3,14.7,8.1,23,...,4.4,8.0,0.8,3.9,0.27,1.09,0.82,4.4,117.7,100.6

In [12]:
player_df['TEAM'].values

array(['Boston Celtics', 'Boston Celtics', 'Boston Celtics',
       'Boston Celtics', 'Boston Celtics', 'Boston Celtics',
       'Boston Celtics', 'Boston Celtics', 'Boston Celtics',
       'Dallas Mavericks', 'Dallas Mavericks', 'Dallas Mavericks',
       'Dallas Mavericks', 'Dallas Mavericks', 'Dallas Mavericks',
       'Dallas Mavericks', 'Dallas Mavericks', 'Dallas Mavericks',
       'Dallas Mavericks', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors', 'Miami Heat',
       'Miami Heat', 'Miami Heat', 'Miami Heat', 'Miami Heat',
       'Miami Heat', 'Miami Heat', 'Miami Heat', 'Miami Heat',
       'Miami Heat', 'Miami Heat', 'Philadelphia 76ers',
       'Philadelphia 76ers', 'Philadelphia 76ers', 'Philadelphia 76ers',
       'Philadelphia 76ers', 'Philadelphia 76ers', 'Philadelphia 76ers',
       'Philadelphia 76ers', 'Philadelphia 76ers', 'Philadelphia 76ers',
       'Memphis Grizzlies', 'Memphis Grizzlies', 'Memphis Grizzlies',
       'Memphis Grizzlies', 'Memphis Grizzlies', 'Memphis Grizzlies',
       'Memphis Grizzlies', 'Memphis Grizzlies', 'Memphis Grizzlies',
       'Memphis Grizzlies', 'Memphis Grizzlies', 'Phoenix Suns',
       'Phoenix Suns', 'Phoenix Suns', 'Phoenix Suns', 'Phoenix Suns',
       'Phoenix Suns', 'Phoenix Suns', 'Phoenix Suns', 'Phoenix Suns',
       'Phoenix Suns', 'Milwaukee Bucks', 'Milwaukee Bucks',
       'Milwaukee Bucks', 'Milwaukee Bucks', 'Milwaukee Bucks',
       'Milwaukee Bucks', 'Milwaukee Bucks', 'Milwaukee Bucks',
       'Milwaukee Bucks', 'Milwaukee Bucks'], dtype=object)

**adding win/loss column**

In [13]:
condlist = [
    final8_df['Team1Score'] > final8_df['Team2Score'],
    final8_df['Team1Score'] < final8_df['Team2Score']
]

win_loss = [1,0]

final8_df['Team1Win'] = np.select(condlist, win_loss, 1)

final8_df.head()

,Team1,Team1Score,Team2,Team2Score,Team1Win
0,Golden State Warriors,123,Utah Jazz,116,1
1,Miami Heat,113,Sacramento Kings,115,0
2,Phoenix Suns,133,Charlotte Hornets,99,1
3,Dallas Mavericks,95,Oklahoma City Thunder,86,1
4,Memphis Grizzlies,118,Brooklyn Nets,104,1

In [14]:
final8_df.to_csv('Final8_Wins_Losses.csv', index = False)

**merge the dataframes**

In [15]:
finals_df = final8_df.merge(player_df, left_on = 'Team1', right_on = 'TEAM')

finals_df.head()

,Team1,Team1Score,Team2,Team2Score,Team1Win,FULL NAME,TEAM,POS,AGE,GP,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
0,Golden State Warriors,123,Utah Jazz,116,1,Klay Thompson,Golden State Warriors,G,32.27,11,...,4.5,7.0,2.0,8.8,1.18,0.91,1.64,6.5,105.5,106.1
1,Golden State Warriors,123,Utah Jazz,116,1,Stephen Curry,Golden State Warriors,G,34.17,11,...,4.2,6.9,5.6,27.9,1.09,0.45,2.64,10.4,117.2,105.4
2,Golden State Warriors,123,Utah Jazz,116,1,Andrew Wiggins,Golden State Warriors,F,27.23,11,...,6.9,12.0,1.2,5.4,0.91,1.09,1.36,6.2,112.3,104.0
3,Golden State Warriors,123,Utah Jazz,116,1,Jordan Poole,Golden State Warriors,G,22.91,11,...,3.4,6.0,4.8,23.7,0.73,0.55,2.82,8.8,116.8,104.5
4,Golden State Warriors,123,Utah Jazz,116,1,Draymond Green,Golden State Warriors,F,32.20,11,...,7.2,13.0,6.6,28.3,1.00,1.18,2.91,9.5,108.8,95.9

In [16]:
finals_df.sample(10)

,Team1,Team1Score,Team2,Team2Score,Team1Win,FULL NAME,TEAM,POS,AGE,GP,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
1518,Dallas Mavericks,112,Memphis Grizzlies,85,1,Jalen Brunson,Dallas Mavericks,G,25.71,13,...,4.6,7.6,3.5,18.8,1.00,0.00,1.15,8.1,113.9,107.6
543,Miami Heat,104,Charlotte Hornets,86,1,Kyle Lowry,Miami Heat,G,36.14,5,...,3.6,7.6,5.2,24.3,1.00,0.60,1.60,6.8,95.0,104.0
1454,Dallas Mavericks,126,Utah Jazz,118,1,Josh Green,Dallas Mavericks,G,21.49,12,...,0.8,5.6,0.6,9.7,0.42,0.00,0.00,4.4,93.2,96.8
736,Miami Heat,123,Phoenix Suns,100,1,Dewayne Dedmon,Miami Heat,C,32.76,10,...,3.3,20.2,0.4,6.1,0.10,0.20,0.50,6.9,106.7,82.4
150,Golden State Warriors,114,Minnesota Timberwolves,129,0,Gary Payton II,Golden State Warriors,G,29.45,7,...,3.0,10.4,1.3,11.1,0.86,0.71,0.57,7.3,154.3,101.6
1873,Memphis Grizzlies,115,Utah Jazz,121,0,Tyus Jones,Memphis Grizzlies,G,26.01,12,...,3.3,7.9,4.5,30.3,1.17,0.17,1.08,9.4,116.1,109.4
2406,Boston Celtics,102,Detroit Pistons,93,1,Jaylen Brown,Boston Celtics,G-F,25.56,11,...,6.5,9.6,3.8,17.2,1.55,0.55,2.82,8.7,111.0,102.7
3048,Milwaukee Bucks,86,Boston Celtics,109,0,George Hill,Milwaukee Bucks,G,36.03,5,...,1.2,4.0,0.6,5.0,0.00,0.00,0.20,2.3,103.7,103.7
2417,Boston Celtics,116,Orlando Magic,83,1,Al Horford,Boston Celtics,C-F,35.95,11,...,9.4,14.5,3.4,13.9,1.09,1.36,0.82,8.2,134.5,97.7
1909,Memphis Grizzlies,118,Minnesota Timberwolves,119,0,Ziaire Williams,Memphis Grizzlies,F,20.67,10,...,1.7,5.4,0.5,4.3,0.50,0.00,0.20,4.3,127.1,106.7

**clean new dataframe**

In [17]:
finals_cleaned_df = finals_df.drop(['Team1', 'Team1Score', 'Team2', 'Team2Score', 'FULL NAME', 'AGE', 'POS'], axis = 1)

finals_cleaned_df.sample(10)

,Team1Win,TEAM,GP,MPG,MIN\n,USG,TO,FTA,FT%,2PA,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
780,0,Miami Heat,10,9.9,20.7,20.0,11.3,10,0.800,27,...,3.3,20.2,0.4,6.1,0.10,0.20,0.50,6.9,106.7,82.4
2542,1,Boston Celtics,10,36.6,76.2,19.8,14.8,29,0.793,60,...,3.7,5.7,6.2,25.8,1.10,0.40,2.40,7.7,111.5,102.9
283,1,Golden State Warriors,3,14.1,29.4,9.4,32.2,3,0.667,3,...,2.3,9.1,2.3,19.5,0.00,0.67,1.00,5.4,94.3,94.2
781,1,Miami Heat,10,37.4,78.0,29.7,6.4,78,0.808,154,...,7.5,12.2,5.4,26.8,2.10,0.60,1.60,11.2,128.2,107.0
940,1,Phoenix Suns,13,24.6,51.3,18.0,9.6,32,0.813,40,...,3.5,8.4,1.5,8.7,0.38,0.08,0.92,6.2,120.1,104.2
2657,1,Boston Celtics,11,41.2,85.9,31.1,14.0,81,0.815,134,...,5.6,7.7,6.1,25.8,1.27,1.00,4.00,9.6,109.7,102.4
575,1,Miami Heat,11,29.4,61.3,10.8,7.7,4,1.000,39,...,5.6,11.6,2.0,9.8,0.55,0.27,0.55,6.3,141.1,102.0
2724,0,Milwaukee Bucks,12,27.7,57.6,16.1,8.9,23,0.913,74,...,5.9,11.0,0.7,3.7,0.50,1.50,0.92,5.1,117.3,104.4
115,0,Golden State Warriors,10,21.5,44.9,11.5,15.6,4,0.750,18,...,3.9,10.0,2.3,13.5,0.90,0.40,0.90,6.5,107.1,98.6
991,1,Phoenix Suns,12,16.0,33.3,13.9,12.1,7,0.714,22,...,1.7,6.1,1.3,10.3,0.50,0.00,0.58,5.3,102.5,109.1

In [18]:
finals_cleaned_df = finals_cleaned_df.rename(columns = {'Team1Win':'TeamWin'})

finals_cleaned_df.sample(5)

,TeamWin,TEAM,GP,MPG,MIN\n,USG,TO,FTA,FT%,2PA,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
1509,1,Dallas Mavericks,13,28.0,58.3,23.6,10.6,41,0.780,78,...,2.8,5.9,3.5,20.8,0.92,0.23,1.46,7.2,109.4,104.1
987,1,Phoenix Suns,13,34.4,71.7,20.8,15.3,37,0.946,106,...,4.2,7.1,8.3,36.4,1.46,0.15,2.38,9.9,129.5,103.7
3006,0,Milwaukee Bucks,12,25.4,53.0,13.6,9.4,11,0.636,34,...,2.9,5.9,1.3,7.2,0.67,0.33,0.75,5.0,112.0,107.6
573,1,Miami Heat,11,32.1,66.8,18.8,17.6,59,0.797,96,...,7.7,14.6,2.7,13.0,1.18,0.64,2.36,8.4,120.5,99.5
2120,0,Philadelphia 76ers,9,6.8,14.2,19.8,7.7,2,1.000,13,...,1.3,11.9,0.4,11.3,0.11,0.11,0.22,6.9,113.1,101.8

In [19]:
finals_cleaned_df.dtypes

TeamWin      int64
TEAM        object
GP           int64
MPG        float64
MIN\n      float64
USG        float64
TO         float64
FTA          int64
FT%        float64
2PA          int64
2P%        float64
3PA          int64
3P%        float64
eFG        float64
TS         float64
PPG        float64
RPG        float64
TRB        float64
APG        float64
AST%       float64
SPG        float64
BPG        float64
TOPGT.     float64
VI         float64
ORTG       float64
DRTG       float64
dtype: object

In [20]:
finals_cat = finals_cleaned_df.dtypes[finals_cleaned_df.dtypes == 'object'].index.tolist()
finals_cat

['TEAM']

In [21]:
finals_cleaned_df[finals_cat].nunique()

TEAM    8
dtype: int64

In [22]:
enc = OneHotEncoder(sparse=False)

encode_df = pd.DataFrame(enc.fit_transform(finals_cleaned_df[finals_cat]))

encode_df.columns = enc.get_feature_names(finals_cat)

encode_df.sample(10)

,TEAM_Boston Celtics,TEAM_Dallas Mavericks,TEAM_Golden State Warriors,TEAM_Memphis Grizzlies,TEAM_Miami Heat,TEAM_Milwaukee Bucks,TEAM_Philadelphia 76ers,TEAM_Phoenix Suns
2392,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2166,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2924,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3057,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1925,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2959,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
570,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [23]:
finals_cleaned_df = finals_cleaned_df.merge(encode_df, left_index=True, right_index=True)

finals_cleaned_df = finals_cleaned_df.drop(finals_cat, 1)

finals_cleaned_df.sample(10)

/Users/tiananicole/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,TeamWin,GP,MPG,MIN\n,USG,TO,FTA,FT%,2PA,2P%,...,ORTG,DRTG,TEAM_Boston Celtics,TEAM_Dallas Mavericks,TEAM_Golden State Warriors,TEAM_Memphis Grizzlies,TEAM_Miami Heat,TEAM_Milwaukee Bucks,TEAM_Philadelphia 76ers,TEAM_Phoenix Suns
2079,1,12,11.6,24.2,16.2,18.7,7,0.571,33,0.515,...,118.7,88.3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2314,0,10,38.5,80.3,28.3,13.8,89,0.820,128,0.555,...,110.0,103.7,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
945,1,13,38.5,80.2,14.9,6.8,30,0.933,105,0.505,...,119.5,107.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1849,1,12,27.7,57.6,24.1,8.2,53,0.755,84,0.381,...,108.0,96.1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
610,1,11,27.6,57.4,25.0,12.4,23,0.913,83,0.518,...,100.2,106.2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1749,1,11,30.5,63.5,25.1,10.7,25,0.640,100,0.350,...,91.3,104.2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
768,1,8,10.5,21.9,15.8,10.1,6,0.833,1,1.000,...,127.8,100.1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25,0,11,31.0,64.5,24.8,15.7,42,0.881,79,0.595,...,116.8,104.5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2420,1,5,20.1,42.0,12.8,7.0,4,0.750,24,0.583,...,135.4,94.5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
932,1,13,13.2,27.6,24.0,14.5,6,0.833,44,0.386,...,78.1,97.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [36]:
finals_cleaned_df.describe()

,TeamWin,GP,MPG,MIN\n,USG,TO,FTA,FT%,2PA,2P%,...,ORTG,DRTG,TEAM_Boston Celtics,TEAM_Dallas Mavericks,TEAM_Golden State Warriors,TEAM_Memphis Grizzlies,TEAM_Miami Heat,TEAM_Milwaukee Bucks,TEAM_Philadelphia 76ers,TEAM_Phoenix Suns
count,3071.000000,3071.000000,3071.000000,3071.00000,3071.000000,3071.000000,3071.000000,3071.000000,3071.000000,3071.000000,...,3071.000000,3071.000000,3071.000000,3071.000000,3071.000000,3071.000000,3071.000000,3071.000000,3071.000000,3071.000000
mean,0.558450,10.688701,24.521394,51.09111,18.536340,12.589971,24.886031,0.746907,55.707587,0.534871,...,112.274438,100.799121,0.117226,0.126994,0.143276,0.128948,0.125366,0.117226,0.110713,0.130251
std,0.496653,2.141904,10.344478,21.55505,7.201478,6.178165,25.973064,0.196343,49.320323,0.143252,...,18.643321,12.207543,0.321741,0.333021,0.350411,0.335197,0.331188,0.321741,0.313828,0.336634
min,0.000000,3.000000,3.700000,7.70000,3.900000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,10.000000,15.300000,31.80000,13.300000,8.400000,6.000000,0.667000,19.000000,0.464000,...,106.400000,99.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,11.000000,25.400000,53.00000,16.800000,12.000000,16.000000,0.793000,34.000000,0.537000,...,113.500000,102.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,12.000000,34.400000,71.70000,23.600000,14.800000,33.000000,0.860500,86.000000,0.622000,...,120.400000,105.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,13.000000,41.200000,85.90000,40.600000,38.000000,134.000000,1.000000,244.000000,1.000000,...,154.300000,112.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Separate Features From the Target

In [24]:
y = finals_cleaned_df.TeamWin.values
X = finals_cleaned_df.drop(columns = ['TeamWin', 'GP', 'FTA', '2PA']).values

In [25]:
# lowered accuracy scores
# y = finals_cleaned_df.TeamWin.values
# X = finals_cleaned_df.drop(
#   columns = ['TeamWin', 'GP', 'TEAM_Boston Celtics', 'TEAM_Dallas Mavericks',
#           'TEAM_Golden State Warriors', 'TEAM_Memphis Grizzlies',
#              'TEAM_Miami Heat', 'TEAM_Milwaukee Bucks',
#              'TEAM_Philadelphia 76ers', 'TEAM_Phoenix Suns']).values

## Split Data Into Training and Testing

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.2)

## Standardize the Features

In [39]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Logistic Regression Model

In [40]:
# instantiate logistic regression model
model = LogisticRegression(max_iter=200, random_state = 42)

# fit and train the model
model.fit(X_train_scaled, y_train)

# make predictions
pred = model.predict(X_test_scaled)

In [41]:
# accuracy score
print(f'Logistic Regression Model Accuracy Score: {accuracy_score(y_test, pred)}')

Logistic Regression Model Accuracy Score: 0.5983739837398374

In [42]:
# confusion matrix
print('Confusion Matrix:')
print(confusion_matrix(y_test, pred))

Confusion Matrix:
[[ 66 200]
 [ 47 302]]

In [43]:
# classification report
print('Classification Report:')

print(classification_report(y_test, pred, target_names = ['lose', 'win']))

Classification Report:
              precision    recall  f1-score   support

        lose       0.58      0.25      0.35       266
         win       0.60      0.87      0.71       349

    accuracy                           0.60       615
   macro avg       0.59      0.56      0.53       615
weighted avg       0.59      0.60      0.55       615

## Neural Network

In [44]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 20   #75 previous test
hidden_nodes_layer2 = 10   #35 previous test
hidden_nodes_layer3 =  5   #10 previous test

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, activation = 'relu' , input_dim = number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = 'relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer3, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 20)                600

 dense_5 (Dense)             (None, 10)                210

 dense_6 (Dense)             (None, 5)                 55

 dense_7 (Dense)             (None, 1)                 6

=================================================================
Total params: 871
Trainable params: 871
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [46]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
77/77 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5440
Epoch 2/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6823 - accuracy: 0.5672
Epoch 3/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6774 - accuracy: 0.5892
Epoch 4/100
77/77 [==============================] - 0s 3ms/step - loss: 0.6744 - accuracy: 0.5920
Epoch 5/100
77/77 [==============================] - 0s 3ms/step - loss: 0.6728 - accuracy: 0.5932
Epoch 6/100
77/77 [==============================] - 0s 3ms/step - loss: 0.6716 - accuracy: 0.5928
Epoch 7/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6711 - accuracy: 0.5904
Epoch 8/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6702 - accuracy: 0.5928
Epoch 9/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6709 - accuracy: 0.5912
Epoch 10/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6700 - accuracy: 0.5928
Epoch 11/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6700 - accuracy: 0.5928
Epoch 12/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6694 - accuracy: 0.5928
Epoch 13/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6695 - accuracy: 0.5928
Epoch 14/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6691 - accuracy: 0.5920
Epoch 15/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6693 - accuracy: 0.5928
Epoch 16/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6690 - accuracy: 0.5928
Epoch 17/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6690 - accuracy: 0.5900
Epoch 18/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6688 - accuracy: 0.5908
Epoch 19/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6689 - accuracy: 0.5912
Epoch 20/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6684 - accuracy: 0.5892
Epoch 21/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6683 - accuracy: 0.5928
Epoch 22/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6684 - accuracy: 0.5908
Epoch 23/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6689 - accuracy: 0.5900
Epoch 24/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6685 - accuracy: 0.5924
Epoch 25/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6687 - accuracy: 0.5863
Epoch 26/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6683 - accuracy: 0.5904
Epoch 27/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6684 - accuracy: 0.5900
Epoch 28/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5916
Epoch 29/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6684 - accuracy: 0.5916
Epoch 30/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6682 - accuracy: 0.5928
Epoch 31/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6681 - accuracy: 0.5908
Epoch 32/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6681 - accuracy: 0.5904
Epoch 33/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6680 - accuracy: 0.5916
Epoch 34/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6680 - accuracy: 0.5912
Epoch 35/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5904
Epoch 36/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6681 - accuracy: 0.5904
Epoch 37/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6680 - accuracy: 0.5916
Epoch 38/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5904
Epoch 39/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5912
Epoch 40/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5904
Epoch 41/100
77/77 [==============================] - 0s 3ms/step - loss: 0.6682 - accuracy: 0.5928
Epoch 42/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6682 - accuracy: 0.5936
Epoch 43/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5920
Epoch 44/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6682 - accuracy: 0.5912
Epoch 45/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5932
Epoch 46/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6682 - accuracy: 0.5920
Epoch 47/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5888
Epoch 48/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5908
Epoch 49/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5916
Epoch 50/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6681 - accuracy: 0.5908
Epoch 51/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5871
Epoch 52/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.5912
Epoch 53/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5936
Epoch 54/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6681 - accuracy: 0.5904
Epoch 55/100
77/77 [==============================] - 0s 4ms/step - loss: 0.6679 - accuracy: 0.5884
Epoch 56/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5892
Epoch 57/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5892
Epoch 58/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5928
Epoch 59/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.5904
Epoch 60/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5924
Epoch 61/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5920
Epoch 62/100
77/77 [==============================] - 0s 3ms/step - loss: 0.6674 - accuracy: 0.5912
Epoch 63/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5924
Epoch 64/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6681 - accuracy: 0.5912
Epoch 65/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.5928
Epoch 66/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5908
Epoch 67/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6680 - accuracy: 0.5912
Epoch 68/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.5949
Epoch 69/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6680 - accuracy: 0.5928
Epoch 70/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6675 - accuracy: 0.5924
Epoch 71/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5920
Epoch 72/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5900
Epoch 73/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5892
Epoch 74/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.5920
Epoch 75/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5916
Epoch 76/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6674 - accuracy: 0.5928
Epoch 77/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5908
Epoch 78/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5932
Epoch 79/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5920
Epoch 80/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6679 - accuracy: 0.5936
Epoch 81/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5936
Epoch 82/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6675 - accuracy: 0.5912
Epoch 83/100

77/77 [==============================] - 0s 2ms/step - loss: 0.6675 - accuracy: 0.5924
Epoch 84/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.5888
Epoch 85/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5941
Epoch 86/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5936
Epoch 87/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5928
Epoch 88/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6675 - accuracy: 0.5932
Epoch 89/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5924
Epoch 90/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6673 - accuracy: 0.5932
Epoch 91/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6675 - accuracy: 0.5945
Epoch 92/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.5928
Epoch 93/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.5949
Epoch 94/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6672 - accuracy: 0.5932
Epoch 95/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6673 - accuracy: 0.5904
Epoch 96/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6674 - accuracy: 0.5928
Epoch 97/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.5920
Epoch 98/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6673 - accuracy: 0.5908
Epoch 99/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6675 - accuracy: 0.5916
Epoch 100/100
77/77 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.5949

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

20/20 - 0s - loss: 0.6933 - accuracy: 0.5707 - 159ms/epoch - 8ms/step
Loss: 0.693332850933075, Accuracy: 0.5707316994667053