**import dependencies**

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd
import numpy as np
import tensorflow as tf

**import final 8 csv file**

In [2]:
final8_df = pd.read_csv('Final8_results.csv')

final8_df.head()

                   Team1  Team1Score                  Team2  Team2Score
0  Golden State Warriors         123              Utah Jazz         116
1             Miami Heat         113       Sacramento Kings         115
2           Phoenix Suns         133      Charlotte Hornets          99
3       Dallas Mavericks          95  Oklahoma City Thunder          86
4      Memphis Grizzlies         118          Brooklyn Nets         104

**import team player csv**

In [3]:
player_df = pd.read_csv('NBA_team_player_data.csv', skiprows = 1)

player_df.head()

,RANK,FULL NAME,TEAM,POS,AGE,GP,MPG,MIN\n,USG,TO,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
0,NaN,Jayson Tatum,Bos,F-G,24.20,11,41.2,85.9,31.1,14.0,...,5.6,7.7,6.1,25.8,1.27,1.00,4.00,9.6,109.7,102.4
1,NaN,Jaylen Brown,Bos,G-F,25.56,11,37.7,78.6,25.7,13.0,...,6.5,9.6,3.8,17.2,1.55,0.55,2.82,8.7,111.0,102.7
2,NaN,Marcus Smart,Bos,G,28.20,10,36.6,76.2,19.8,14.8,...,3.7,5.7,6.2,25.8,1.10,0.40,2.40,7.7,111.5,102.9
3,NaN,Al Horford,Bos,C-F,35.95,11,36.4,75.9,13.3,7.5,...,9.4,14.5,3.4,13.9,1.09,1.36,0.82,8.2,134.5,97.7
4,NaN,Grant Williams,Bos,F,23.46,11,30.9,64.3,14.7,8.1,...,4.4,8.0,0.8,3.9,0.27,1.09,0.82,4.4,117.7,100.6

**clean data**

In [4]:
final8_df.isnull().sum()

Team1         0
Team1Score    0
Team2         0
Team2Score    0
dtype: int64

In [5]:
player_df.isnull().sum()

RANK         83
FULL NAME     0
TEAM          0
POS           0
AGE           0
GP            0
MPG           0
MIN\n         0
USG           0
TO            0
FTA           0
FT%           0
2PA           0
2P%           0
3PA           0
3P%           0
eFG           0
TS            0
PPG           0
RPG           0
TRB           0
APG           0
AST%          0
SPG           0
BPG           0
TOPGT.        0
VI            0
ORTG          1
DRTG          1
dtype: int64

In [6]:
player_df = player_df.drop(columns = ['RANK'])

player_df.head()

,FULL NAME,TEAM,POS,AGE,GP,MPG,MIN\n,USG,TO,FTA,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
0,Jayson Tatum,Bos,F-G,24.20,11,41.2,85.9,31.1,14.0,81,...,5.6,7.7,6.1,25.8,1.27,1.00,4.00,9.6,109.7,102.4
1,Jaylen Brown,Bos,G-F,25.56,11,37.7,78.6,25.7,13.0,56,...,6.5,9.6,3.8,17.2,1.55,0.55,2.82,8.7,111.0,102.7
2,Marcus Smart,Bos,G,28.20,10,36.6,76.2,19.8,14.8,29,...,3.7,5.7,6.2,25.8,1.10,0.40,2.40,7.7,111.5,102.9
3,Al Horford,Bos,C-F,35.95,11,36.4,75.9,13.3,7.5,12,...,9.4,14.5,3.4,13.9,1.09,1.36,0.82,8.2,134.5,97.7
4,Grant Williams,Bos,F,23.46,11,30.9,64.3,14.7,8.1,23,...,4.4,8.0,0.8,3.9,0.27,1.09,0.82,4.4,117.7,100.6

In [7]:
player_df['TEAM'].values

array(['Bos', 'Bos', 'Bos', 'Bos', 'Bos', 'Bos', 'Bos', 'Bos', 'Bos',
       'Bos', 'Dal', 'Dal', 'Dal', 'Dal', 'Dal', 'Dal', 'Dal', 'Dal',
       'Dal', 'Dal', 'Gol', 'Gol', 'Gol', 'Gol', 'Gol', 'Gol', 'Gol',
       'Gol', 'Gol', 'Gol', 'Gol', 'Mia', 'Mia', 'Mia', 'Mia', 'Mia',
       'Mia', 'Mia', 'Mia', 'Mia', 'Mia', 'Mia', 'Phi', 'Phi', 'Phi',
       'Phi', 'Phi', 'Phi', 'Phi', 'Phi', 'Phi', 'Phi', 'Mem', 'Mem',
       'Mem', 'Mem', 'Mem', 'Mem', 'Mem', 'Mem', 'Mem', 'Mem', 'Mem',
       'Pho', 'Pho', 'Pho', 'Pho', 'Pho', 'Pho', 'Pho', 'Pho', 'Pho',
       'Pho', 'Mil', 'Mil', 'Mil', 'Mil', 'Mil', 'Mil', 'Mil', 'Mil',
       'Mil', 'Mil'], dtype=object)

In [8]:
final8_df['Team1'].values

array(['Golden State Warriors', 'Miami Heat', 'Phoenix Suns',
       'Dallas Mavericks', 'Memphis Grizzlies', 'Miami Heat',
       'Memphis Grizzlies', 'Phoenix Suns', 'Philadelphia 76ers',
       'Golden State Warriors', 'Miami Heat', 'Boston Celtics',
       'Golden State Warriors', 'Milwaukee Bucks', 'Dallas Mavericks',
       'Memphis Grizzlies', 'Milwaukee Bucks', 'Miami Heat',
       'Memphis Grizzlies', 'Milwaukee Bucks', 'Philadelphia 76ers',
       'Phoenix Suns', 'Golden State Warriors', 'Boston Celtics',
       'Miami Heat', 'Dallas Mavericks', 'Golden State Warriors',
       'Phoenix Suns', 'Boston Celtics', 'Golden State Warriors',
       'Dallas Mavericks', 'Philadelphia 76ers', 'Phoenix Suns',
       'Golden State Warriors', 'Philadelphia 76ers', 'Milwaukee Bucks',
       'Phoenix Suns', 'Memphis Grizzlies', 'Phoenix Suns', 'Miami Heat',
       'Memphis Grizzlies', 'Boston Celtics', 'Philadelphia 76ers',
       'Memphis Grizzlies', 'Dallas Mavericks', 'Milwaukee Bucks',
       'Memphis Grizzlies', 'Dallas Mavericks', 'Phoenix Suns',
       'Boston Celtics', 'Boston Celtics', 'Dallas Mavericks',
       'Memphis Grizzlies', 'Miami Heat', 'Golden State Warriors',
       'Miami Heat', 'Golden State Warriors', 'Memphis Grizzlies',
       'Miami Heat', 'Phoenix Suns', 'Boston Celtics',
       'Philadelphia 76ers', 'Memphis Grizzlies', 'Miami Heat',
       'Phoenix Suns', 'Milwaukee Bucks', 'Philadelphia 76ers',
       'Boston Celtics', 'Milwaukee Bucks', 'Miami Heat', 'Phoenix Suns',
       'Golden State Warriors', 'Phoenix Suns', 'Boston Celtics',
       'Milwaukee Bucks', 'Golden State Warriors', 'Memphis Grizzlies',
       'Miami Heat', 'Milwaukee Bucks', 'Memphis Grizzlies',
       'Golden State Warriors', 'Dallas Mavericks', 'Boston Celtics',
       'Memphis Grizzlies', 'Miami Heat', 'Dallas Mavericks',
       'Philadelphia 76ers', 'Boston Celtics', 'Memphis Grizzlies',
       'Phoenix Suns', 'Golden State Warriors', 'Miami Heat',
       'Philadelphia 76ers', 'Dallas Mavericks', 'Boston Celtics',
       'Memphis Grizzlies', 'Philadelphia 76ers', 'Boston Celtics',
       'Dallas Mavericks', 'Golden State Warriors', 'Dallas Mavericks',
       'Miami Heat', 'Memphis Grizzlies', 'Miami Heat',
       'Golden State Warriors', 'Milwaukee Bucks', 'Philadelphia 76ers',
       'Golden State Warriors', 'Phoenix Suns', 'Memphis Grizzlies',
       'Golden State Warriors', 'Phoenix Suns', 'Milwaukee Bucks',
       'Boston Celtics', 'Phoenix Suns', 'Golden State Warriors',
       'Dallas Mavericks', 'Milwaukee Bucks', 'Dallas Mavericks',
       'Philadelphia 76ers', 'Memphis Grizzlies', 'Milwaukee Bucks',
       'Memphis Grizzlies', 'Phoenix Suns', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Phoenix Suns', 'Boston Celtics',
       'Milwaukee Bucks', 'Dallas Mavericks', 'Memphis Grizzlies',
       'Boston Celtics', 'Milwaukee Bucks', 'Dallas Mavericks',
       'Memphis Grizzlies', 'Phoenix Suns', 'Boston Celtics',
       'Miami Heat', 'Boston Celtics', 'Golden State Warriors',
       'Golden State Warriors', 'Phoenix Suns', 'Philadelphia 76ers',
       'Phoenix Suns', 'Golden State Warriors', 'Dallas Mavericks',
       'Philadelphia 76ers', 'Milwaukee Bucks', 'Philadelphia 76ers',
       'Golden State Warriors', 'Boston Celtics', 'Golden State Warriors',
       'Milwaukee Bucks', 'Dallas Mavericks', 'Miami Heat',
       'Memphis Grizzlies', 'Phoenix Suns', 'Philadelphia 76ers',
       'Milwaukee Bucks', 'Dallas Mavericks', 'Phoenix Suns',
       'Miami Heat', 'Dallas Mavericks', 'Philadelphia 76ers',
       'Phoenix Suns', 'Miami Heat', 'Golden State Warriors',
       'Philadelphia 76ers', 'Milwaukee Bucks', 'Memphis Grizzlies',
       'Dallas Mavericks', 'Boston Celtics', 'Phoenix Suns',
       'Boston Celtics', 'Philadelphia 76ers', 'Memphis Grizzlies',
       'Milwaukee Bucks', 'Phoenix Suns', 'Golden State Warriors',
       'Milwaukee Bucks', 'Boston Celtics', 'Miami Heat',
       'Golden State Warriors', 'Philadelphia 76ers', 'Memphis Grizzlies',
       'Dallas Mavericks', 'Golden State Warriors', 'Miami Heat',
       'Milwaukee Bucks', 'Phoenix Suns', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Boston Celtics', 'Memphis Grizzlies',
       'Milwaukee Bucks', 'Golden State Warriors', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Philadelphia 76ers',
       'Phoenix Suns', 'Dallas Mavericks', 'Memphis Grizzlies',
       'Milwaukee Bucks', 'Golden State Warriors', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Milwaukee Bucks', 'Golden State Warriors',
       'Philadelphia 76ers', 'Dallas Mavericks', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Memphis Grizzlies',
       'Phoenix Suns', 'Miami Heat', 'Boston Celtics',
       'Memphis Grizzlies', 'Philadelphia 76ers', 'Dallas Mavericks',
       'Milwaukee Bucks', 'Golden State Warriors', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Memphis Grizzlies',
       'Milwaukee Bucks', 'Dallas Mavericks', 'Boston Celtics',
       'New Orleans Pelicans', 'Los Angeles Clippers', 'Orlando Magic',
       'Houston Rockets', 'Memphis Grizzlies', 'Detroit Pistons',
       'Denver Nuggets', 'San Antonio Spurs', 'Golden State Warriors',
       'Toronto Raptors', 'Detroit Pistons', 'Los Angeles Clippers',
       'San Antonio Spurs', 'Milwaukee Bucks', 'New York Knicks',
       'Miami Heat', 'San Antonio Spurs', 'Chicago Bulls',
       'Indiana Pacers', 'Golden State Warriors', 'Charlotte Hornets',
       'Golden State Warriors', 'Minnesota Timberwolves',
       'Oklahoma City Thunder', 'Boston Celtics', 'Atlanta Hawks',
       'Dallas Mavericks', 'Toronto Raptors', 'New Orleans Pelicans',
       'Philadelphia 76ers', 'Chicago Bulls', 'Orlando Magic',
       'New Orleans Pelicans', 'Chicago Bulls', 'Toronto Raptors',
       'Oklahoma City Thunder', 'Orlando Magic', 'Charlotte Hornets',
       'Portland Trail Blazers', 'Memphis Grizzlies', 'Toronto Raptors',
       'Phoenix Suns', 'Los Angeles Clippers', 'Portland Trail Blazers',
       'Chicago Bulls', 'Sacramento Kings', 'Indiana Pacers',
       'Los Angeles Lakers', 'Memphis Grizzlies', 'Utah Jazz',
       'New Orleans Pelicans', 'Sacramento Kings', 'Los Angeles Lakers',
       'New York Knicks', 'Denver Nuggets', 'Los Angeles Lakers',
       'Utah Jazz', 'Los Angeles Clippers', 'Minnesota Timberwolves',
       'New York Knicks', 'Indiana Pacers', 'Sacramento Kings',
       'Washington Wizards', 'Toronto Raptors', 'Denver Nuggets',
       'San Antonio Spurs', 'Memphis Grizzlies', 'Miami Heat',
       'Washington Wizards', 'Brooklyn Nets', 'Washington Wizards',
       'Charlotte Hornets', 'Oklahoma City Thunder', 'Philadelphia 76ers',
       'Atlanta Hawks', 'Phoenix Suns', 'Boston Celtics',
       'Los Angeles Clippers', 'Detroit Pistons', 'Los Angeles Clippers',
       'Milwaukee Bucks', 'Oklahoma City Thunder', 'Denver Nuggets',
       'Cleveland Cavaliers', 'Brooklyn Nets', 'Los Angeles Clippers',
       'Orlando Magic', 'Atlanta Hawks', 'Sacramento Kings',
       'Portland Trail Blazers', 'Dallas Mavericks', 'Boston Celtics',
       'Indiana Pacers', 'Los Angeles Clippers', 'Detroit Pistons',
       'Portland Trail Blazers', 'Houston Rockets', 'Washington Wizards',
       'Philadelphia 76ers', 'Boston Celtics', 'New Orleans Pelicans',
       'San Antonio Spurs', 'Brooklyn Nets', 'Utah Jazz',
       'Toronto Raptors', 'Chicago Bulls', 'San Antonio Spurs',
       'Charlotte Hornets', 'Atlanta Hawks', 'New York Knicks',
       'Miami Heat', 'Portland Trail Blazers', 'Memphis Grizzlies',
       'Miami Heat', 'Golden State Warriors', 'Cleveland Cavaliers',
       'New York Knicks', 'Sacramento Kings', 'Orlando Magic',
       'Philadelphia 76ers', 'Brooklyn Nets', 'Phoenix Suns',
       'Chicago Bulls', 'Houston Rockets', 'Utah Jazz',
       'New Orleans Pelicans', 'Phoenix Suns', 'Atlanta Hawks',
       'New York Knicks', 'Brooklyn Nets', 'Detroit Pistons',
       'New York Knicks', 'Cleveland Cavaliers', 'Toronto Raptors',
       'Minnesota Timberwolves', 'New York Knicks', 'Dallas Mavericks',
       'Los Angeles Lakers', 'Denver Nuggets', 'Detroit Pistons',
       'Dallas Mavericks', 'Dallas Mavericks', 'Portland Trail Blazers',
       'Oklahoma City Thunder', 'Chicago Bulls', 'Toronto Raptors',
       'Utah Jazz', 'Miami Heat', 'Minnesota Timberwolves',
       'Chicago Bulls', 'Utah Jazz', 'Brooklyn Nets',
       'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers',
       'Washington Wizards', 'New York Knicks', 'Milwaukee Bucks',
       'Brooklyn Nets', 'Minnesota Timberwolves', 'Philadelphia 76ers',
       'Charlotte Hornets', 'Utah Jazz', 'Sacramento Kings',
       'Golden State Warriors', 'Milwaukee Bucks', 'Detroit Pistons',
       'Los Angeles Lakers', 'Miami Heat', 'Milwaukee Bucks',
       'Indiana Pacers', 'Phoenix Suns', 'Los Angeles Clippers',
       'Charlotte Hornets', 'Washington Wizards', 'Dallas Mavericks',
       'Houston Rockets', 'Charlotte Hornets', 'Los Angeles Lakers',
       'Boston Celtics', 'Cleveland Cavaliers', 'Atlanta Hawks',
       'Portland Trail Blazers', 'Indiana Pacers', 'New Orleans Pelicans',
       'Indiana Pacers', 'Boston Celtics', 'Detroit Pistons',
       'San Antonio Spurs', 'Sacramento Kings', 'Cleveland Cavaliers',
       'Utah Jazz', 'Minnesota Timberwolves', 'Toronto Raptors',
       'Atlanta Hawks', 'Brooklyn Nets', 'Chicago Bulls',
       'New Orleans Pelicans', 'Toronto Raptors', 'Utah Jazz',
       'Atlanta Hawks', 'Minnesota Timberwolves', 'New Orleans Pelicans',
       'Brooklyn Nets', 'Chicago Bulls', 'Boston Celtics',
       'Boston Celtics', 'Toronto Raptors', 'Utah Jazz', 'Atlanta Hawks',
       'Minnesota Timberwolves', 'New Orleans Pelicans', 'Chicago Bulls',
       'Milwaukee Bucks', 'Golden State Warriors', 'Philadelphia 76ers',
       'Dallas Mavericks', 'Milwaukee Bucks', 'Golden State Warriors',
       'Philadelphia 76ers', 'Dallas Mavericks', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Phoenix Suns', 'Miami Heat',
       'Boston Celtics', 'Philadelphia 76ers', 'Dallas Mavericks',
       'Milwaukee Bucks', 'Golden State Warriors', 'Miami Heat',
       'Phoenix Suns', 'Boston Celtics', 'Milwaukee Bucks',
       'Dallas Mavericks', 'Boston Celtics'], dtype=object)

In [9]:
player_df = player_df.replace({ 
    'TEAM': 
    {
    'Bos':'Boston Celtics',
    'Dal': 'Dallas Mavericks',
    'Gol':'Golden State Warriors',
    'Mia':'Miami Heat',
    'Phi':'Philadelphia 76ers',
    'Mem':'Memphis Grizzlies',
    'Pho':'Phoenix Suns',
    'Mil':'Milwaukee Bucks'
        
    }})

player_df.head()

,FULL NAME,TEAM,POS,AGE,GP,MPG,MIN\n,USG,TO,FTA,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
0,Jayson Tatum,Boston Celtics,F-G,24.20,11,41.2,85.9,31.1,14.0,81,...,5.6,7.7,6.1,25.8,1.27,1.00,4.00,9.6,109.7,102.4
1,Jaylen Brown,Boston Celtics,G-F,25.56,11,37.7,78.6,25.7,13.0,56,...,6.5,9.6,3.8,17.2,1.55,0.55,2.82,8.7,111.0,102.7
2,Marcus Smart,Boston Celtics,G,28.20,10,36.6,76.2,19.8,14.8,29,...,3.7,5.7,6.2,25.8,1.10,0.40,2.40,7.7,111.5,102.9
3,Al Horford,Boston Celtics,C-F,35.95,11,36.4,75.9,13.3,7.5,12,...,9.4,14.5,3.4,13.9,1.09,1.36,0.82,8.2,134.5,97.7
4,Grant Williams,Boston Celtics,F,23.46,11,30.9,64.3,14.7,8.1,23,...,4.4,8.0,0.8,3.9,0.27,1.09,0.82,4.4,117.7,100.6

In [10]:
player_df['TEAM'].values

array(['Boston Celtics', 'Boston Celtics', 'Boston Celtics',
       'Boston Celtics', 'Boston Celtics', 'Boston Celtics',
       'Boston Celtics', 'Boston Celtics', 'Boston Celtics',
       'Boston Celtics', 'Dallas Mavericks', 'Dallas Mavericks',
       'Dallas Mavericks', 'Dallas Mavericks', 'Dallas Mavericks',
       'Dallas Mavericks', 'Dallas Mavericks', 'Dallas Mavericks',
       'Dallas Mavericks', 'Dallas Mavericks', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors',
       'Golden State Warriors', 'Golden State Warriors', 'Miami Heat',
       'Miami Heat', 'Miami Heat', 'Miami Heat', 'Miami Heat',
       'Miami Heat', 'Miami Heat', 'Miami Heat', 'Miami Heat',
       'Miami Heat', 'Miami Heat', 'Philadelphia 76ers',
       'Philadelphia 76ers', 'Philadelphia 76ers', 'Philadelphia 76ers',
       'Philadelphia 76ers', 'Philadelphia 76ers', 'Philadelphia 76ers',
       'Philadelphia 76ers', 'Philadelphia 76ers', 'Philadelphia 76ers',
       'Memphis Grizzlies', 'Memphis Grizzlies', 'Memphis Grizzlies',
       'Memphis Grizzlies', 'Memphis Grizzlies', 'Memphis Grizzlies',
       'Memphis Grizzlies', 'Memphis Grizzlies', 'Memphis Grizzlies',
       'Memphis Grizzlies', 'Memphis Grizzlies', 'Phoenix Suns',
       'Phoenix Suns', 'Phoenix Suns', 'Phoenix Suns', 'Phoenix Suns',
       'Phoenix Suns', 'Phoenix Suns', 'Phoenix Suns', 'Phoenix Suns',
       'Phoenix Suns', 'Milwaukee Bucks', 'Milwaukee Bucks',
       'Milwaukee Bucks', 'Milwaukee Bucks', 'Milwaukee Bucks',
       'Milwaukee Bucks', 'Milwaukee Bucks', 'Milwaukee Bucks',
       'Milwaukee Bucks', 'Milwaukee Bucks'], dtype=object)

**adding win/loss column**

In [3]:
condlist = [
    final8_df['Team1Score'] > final8_df['Team2Score'],
    final8_df['Team1Score'] < final8_df['Team2Score']
]

win_loss = [1,0]

final8_df['Team1Win'] = np.select(condlist, win_loss, 1)

final8_df.head()

,Team1,Team1Score,Team2,Team2Score,Team1Win
0,Golden State Warriors,123,Utah Jazz,116,1
1,Miami Heat,113,Sacramento Kings,115,0
2,Phoenix Suns,133,Charlotte Hornets,99,1
3,Dallas Mavericks,95,Oklahoma City Thunder,86,1
4,Memphis Grizzlies,118,Brooklyn Nets,104,1

In [4]:
final8_df.to_csv('Final8_Wins_Losses.csv', index = False)

**merge the dataframes**

In [12]:
finals_df = final8_df.merge(player_df, left_on = 'Team1', right_on = 'TEAM')

finals_df.head()

,Team1,Team1Score,Team2,Team2Score,Team1Win,FULL NAME,TEAM,POS,AGE,GP,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
0,Golden State Warriors,123,Utah Jazz,116,1,Klay Thompson,Golden State Warriors,G,32.27,11,...,4.5,7.0,2.0,8.8,1.18,0.91,1.64,6.5,105.5,106.1
1,Golden State Warriors,123,Utah Jazz,116,1,Stephen Curry,Golden State Warriors,G,34.17,11,...,4.2,6.9,5.6,27.9,1.09,0.45,2.64,10.4,117.2,105.4
2,Golden State Warriors,123,Utah Jazz,116,1,Andrew Wiggins,Golden State Warriors,F,27.23,11,...,6.9,12.0,1.2,5.4,0.91,1.09,1.36,6.2,112.3,104.0
3,Golden State Warriors,123,Utah Jazz,116,1,Jordan Poole,Golden State Warriors,G,22.91,11,...,3.4,6.0,4.8,23.7,0.73,0.55,2.82,8.8,116.8,104.5
4,Golden State Warriors,123,Utah Jazz,116,1,Draymond Green,Golden State Warriors,F,32.20,11,...,7.2,13.0,6.6,28.3,1.00,1.18,2.91,9.5,108.8,95.9

In [13]:
finals_df.sample(10)

,Team1,Team1Score,Team2,Team2Score,Team1Win,FULL NAME,TEAM,POS,AGE,GP,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
2849,Milwaukee Bucks,118,Chicago Bulls,112,1,Jevon Carter,Milwaukee Bucks,G,26.67,11,...,1.5,6.5,0.9,10.9,0.73,0.00,0.55,5.0,107.0,102.5
2526,Boston Celtics,132,Oklahoma City Thunder,123,1,Derrick White,Boston Celtics,G,27.87,11,...,4.0,9.5,2.4,14.1,0.82,0.27,0.73,6.8,106.7,101.5
1665,Memphis Grizzlies,114,Milwaukee Bucks,126,0,Kyle Anderson,Memphis Grizzlies,F-G,28.65,12,...,4.3,12.4,1.8,13.7,0.92,0.67,0.83,7.8,119.9,100.5
2083,Philadelphia 76ers,123,Milwaukee Bucks,120,1,Tobias Harris,Philadelphia 76ers,F,29.83,12,...,7.6,12.0,2.9,13.0,1.08,0.83,1.50,7.4,113.9,105.5
2332,Philadelphia 76ers,103,Miami Heat,119,0,James Harden,Philadelphia 76ers,G,32.72,12,...,5.7,8.7,8.6,34.8,0.75,0.75,4.17,9.7,111.4,109.4
436,Golden State Warriors,95,Memphis Grizzlies,134,0,Gary Payton II,Golden State Warriors,G,29.45,7,...,3.0,10.4,1.3,11.1,0.86,0.71,0.57,7.3,154.3,101.6
1822,Memphis Grizzlies,125,Oklahoma City Thunder,118,1,Steven Adams,Memphis Grizzlies,C,28.82,7,...,6.4,20.9,2.1,17.6,0.14,0.14,0.57,8.8,120.1,100.4
1727,Memphis Grizzlies,135,Orlando Magic,115,1,Dillon Brooks,Memphis Grizzlies,G-F,26.31,11,...,2.7,4.7,2.7,13.8,1.00,0.27,2.00,6.2,91.3,104.2
65,Golden State Warriors,138,Chicago Bulls,96,1,Damion Lee,Golden State Warriors,G-F,29.57,8,...,1.9,10.1,0.6,8.0,0.13,0.00,0.50,5.8,100.1,106.5
2388,Boston Celtics,116,Washington Wizards,87,1,Daniel Theis,Boston Celtics,F-C,30.11,10,...,3.6,15.1,0.6,7.0,0.40,0.50,0.80,6.6,113.5,91.3

**clean new dataframe**

In [14]:
finals_cleaned_df = finals_df.drop(['Team1', 'Team1Score', 'Team2', 'Team2Score', 'FULL NAME', 'AGE', 'POS'], axis = 1)

finals_cleaned_df.sample(10)

,Team1Win,TEAM,GP,MPG,MIN\n,USG,TO,FTA,FT%,2PA,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
372,0,Golden State Warriors,9,11.3,23.5,25.3,15.0,16,0.750,34,...,1.9,9.2,0.7,9.4,0.22,0.22,1.00,7.5,109.3,104.6
2934,1,Milwaukee Bucks,12,27.7,57.6,16.1,8.9,23,0.913,74,...,5.9,11.0,0.7,3.7,0.50,1.50,0.92,5.1,117.3,104.4
1509,1,Dallas Mavericks,13,28.0,58.3,23.6,10.6,41,0.780,78,...,2.8,5.9,3.5,20.8,0.92,0.23,1.46,7.2,109.4,104.1
246,0,Golden State Warriors,11,30.4,63.3,13.6,30.1,21,0.667,48,...,7.2,13.0,6.6,28.3,1.00,1.18,2.91,9.5,108.8,95.9
2043,0,Philadelphia 76ers,12,38.8,80.9,19.1,9.5,22,0.864,105,...,7.6,12.0,2.9,13.0,1.08,0.83,1.50,7.4,113.9,105.5
2436,1,Boston Celtics,11,23.8,49.5,15.1,9.1,21,0.857,34,...,4.0,9.5,2.4,14.1,0.82,0.27,0.73,6.8,106.7,101.5
768,1,Miami Heat,8,10.5,21.9,15.8,10.1,6,0.833,1,...,1.1,6.5,0.1,1.8,0.00,0.00,0.38,3.1,127.8,100.1
1483,0,Dallas Mavericks,7,10.8,22.4,11.6,38.0,1,1.000,2,...,1.0,5.4,0.9,11.2,0.86,0.14,1.00,4.3,79.3,91.8
1262,1,Dallas Mavericks,13,11.2,23.3,14.3,4.6,11,0.818,0,...,1.2,6.4,0.3,4.2,0.31,0.15,0.15,4.2,133.2,98.6
2665,1,Boston Celtics,11,30.9,64.3,14.7,8.1,23,0.783,31,...,4.4,8.0,0.8,3.9,0.27,1.09,0.82,4.4,117.7,100.6

In [15]:
finals_cleaned_df = finals_cleaned_df.rename(columns = {'Team1Win':'TeamWin'})

finals_cleaned_df.sample(5)

,TeamWin,TEAM,GP,MPG,MIN\n,USG,TO,FTA,FT%,2PA,...,RPG,TRB,APG,AST%,SPG,BPG,TOPGT.,VI,ORTG,DRTG
1614,1,Dallas Mavericks,12,8.6,18.0,12.6,0.0,8,0.250,4,...,0.8,5.6,0.6,9.7,0.42,0.00,0.00,4.4,93.2,96.8
781,1,Miami Heat,10,37.4,78.0,29.7,6.4,78,0.808,154,...,7.5,12.2,5.4,26.8,2.10,0.60,1.60,11.2,128.2,107.0
50,0,Golden State Warriors,11,16.2,33.7,10.0,14.5,8,0.500,32,...,6.4,21.6,1.5,12.6,0.36,0.18,0.55,8.3,137.9,92.7
915,1,Phoenix Suns,13,38.5,80.2,14.9,6.8,30,0.933,105,...,4.7,7.1,2.8,10.2,1.08,1.00,0.85,5.8,119.5,107.9
2662,1,Boston Celtics,11,37.7,78.6,25.7,13.0,56,0.768,115,...,6.5,9.6,3.8,17.2,1.55,0.55,2.82,8.7,111.0,102.7

In [16]:
finals_cleaned_df.dtypes

TeamWin      int64
TEAM        object
GP           int64
MPG        float64
MIN\n      float64
USG        float64
TO         float64
FTA          int64
FT%        float64
2PA          int64
2P%        float64
3PA          int64
3P%        float64
eFG        float64
TS         float64
PPG        float64
RPG        float64
TRB        float64
APG        float64
AST%       float64
SPG        float64
BPG        float64
TOPGT.     float64
VI         float64
ORTG       float64
DRTG       float64
dtype: object

In [51]:
finals_cat = finals_cleaned_df.dtypes[finals_cleaned_df.dtypes == 'object'].index.tolist()
finals_cat

['TEAM']

In [52]:
finals_cleaned_df[finals_cat].nunique()

TEAM    8
dtype: int64

In [55]:
enc = OneHotEncoder(sparse=False)

encode_df = pd.DataFrame(enc.fit_transform(finals_cleaned_df[finals_cat]))

encode_df.columns = enc.get_feature_names(finals_cat)

encode_df.sample(10)

,TEAM_Boston Celtics,TEAM_Dallas Mavericks,TEAM_Golden State Warriors,TEAM_Memphis Grizzlies,TEAM_Miami Heat,TEAM_Milwaukee Bucks,TEAM_Philadelphia 76ers,TEAM_Phoenix Suns
1797,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
448,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
143,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3109,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1086,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1939,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2731,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2125,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2730,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
finals_cleaned_df = finals_cleaned_df.merge(encode_df, left_index=True, right_index=True)

finals_cleaned_df = finals_cleaned_df.drop(finals_cat, 1)

finals_cleaned_df.sample(10)

/Users/tiananicole/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,TeamWin,GP,MPG,MIN\n,USG,TO,FTA,FT%,2PA,2P%,...,ORTG,DRTG,TEAM_Boston Celtics,TEAM_Dallas Mavericks,TEAM_Golden State Warriors,TEAM_Memphis Grizzlies,TEAM_Miami Heat,TEAM_Milwaukee Bucks,TEAM_Philadelphia 76ers,TEAM_Phoenix Suns
922,1,13,13.2,27.6,24.0,14.5,6,0.833,44,0.386,...,78.1,97.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1640,1,12,27.7,57.6,24.1,8.2,53,0.755,84,0.381,...,108.0,96.1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2785,0,12,26.5,55.2,13.2,7.2,5,1.000,24,0.708,...,120.4,109.9,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1346,1,13,37.8,78.8,12.8,7.6,16,0.875,32,0.500,...,127.2,104.7,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1146,1,10,36.6,76.2,28.9,13.9,53,0.887,110,0.464,...,109.8,107.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
164,0,8,10.2,21.3,13.8,15.2,3,0.667,13,0.462,...,100.1,106.5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2227,0,9,15.2,31.7,9.4,7.3,3,0.333,10,0.700,...,106.4,103.8,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2693,1,10,36.6,76.2,19.8,14.8,29,0.793,60,0.483,...,111.5,102.9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
392,1,7,15.8,33.0,11.4,13.6,8,0.625,14,0.714,...,154.3,101.6,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2540,0,3,2.0,4.1,22.8,0.0,0,0.000,2,0.500,...,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**separate features from the target**

In [58]:
y = finals_cleaned_df.TeamWin.values
X = finals_cleaned_df.drop(columns = ['TeamWin']).values

**split data into training and testing**

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

**stadardize the features**

In [60]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

**compile, train, and evaluate model**

In [66]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 60
hidden_nodes_layer2 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, activation = 'relu' , input_dim = number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = 'tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 60)                1980

 dense_25 (Dense)            (None, 40)                2440

 dense_26 (Dense)            (None, 1)                 41

=================================================================
Total params: 4,461
Trainable params: 4,461
Non-trainable params: 0
_________________________________________________________________

In [67]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [68]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
73/73 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.4351
Epoch 2/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 3/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 4/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 5/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 6/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 7/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 8/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 9/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 10/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 11/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 12/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 13/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 14/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 15/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 16/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 17/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 18/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 19/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 20/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 21/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 22/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 23/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 24/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 25/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 26/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 27/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 28/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 29/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 30/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 31/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 32/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 33/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 34/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 35/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 36/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 37/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 38/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 39/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 40/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 41/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 42/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 43/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 44/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 45/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 46/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 47/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 48/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 49/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 50/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 51/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 52/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 53/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 54/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 55/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 56/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 57/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 58/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 59/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 60/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 61/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 62/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 63/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 64/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 65/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 66/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 67/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 68/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 69/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 70/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 71/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 72/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 73/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 74/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 75/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 76/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 77/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 78/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 79/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 80/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 81/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 82/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 83/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 84/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 85/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 86/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 87/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 88/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 89/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 90/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 91/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 92/100
73/73 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.4342
Epoch 93/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 94/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 95/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 96/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 97/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 98/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 99/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342
Epoch 100/100
73/73 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.4342

In [69]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

25/25 - 0s - loss: nan - accuracy: 0.4563 - 158ms/epoch - 6ms/step
Loss: nan, Accuracy: 0.45629820227622986

**logistic regression model**

In [ ]:
# instantiate logistic regression model
# model = LogisticRegression(random_state = 1)

# fit and train the model
# model.fit(X_test_scaled, y_train)

# make predictions
# pred = model.predict(X_test_scaled)

In [ ]:
# accuracy score
# print(accuracy_score(y_test, pred))

In [ ]:
# classification report
# print(classification_report(y_test, pred))